@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example: Normalize.css */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-link {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;

  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sm\\:hidden {
  display: none;
}

@media (min-width: 640px) {
  .sm\\:hidden {
    display: inline;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #10324e;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spinloader 2s linear infinite;
}

.loader img {
  width: 70px;
  animation: spinlogo 2s linear infinite;
  -webkit-animation: spinlogo 2s linear infinite;
}

@keyframes spinloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes spinlogo {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

label {
  color: #81664b !important;
}
body {
  background-color: #fff7f2;
}
.css-128hebc-OptionComponent {
  border-radius: 20px !important;
  padding: 2px 13px !important;
}
